.bordered {
  border-style: solid;
  
}
table td, table th {
  font-size: 20px;
  padding: 0 5px;
  text-align: left;
  border-bottom: 1px solid #CCC;
}
.wrapper {
  overflow: hidden;
}
.right-side-wrapper {
  overflow: auto;
}
#fun-container {
  float:left;
  
  /* display: inline-block; */
}
#parameters-wrapper {
  float: right
}
#info-container {
  /* display:inline-block; */
  margin-left: 8px;
  font-size: 20px;
  float: left;
}
#controls-container {
  /* display:inline-block; */
  margin-left: 8px;
  

}
.color-box {
  display: inline;
}

input[type=number]{
  width: 60px;
}

.bubbles {
    stroke-width: 1px;
    stroke: black;
    opacity: .8
  }
  .bubbles:hover {
    stroke: black;
  }