:root {
  --fun-container-size: 900px;
  --right-plot-width: 600px;
  --right-column-width: 250px;
  --middle-container-width: 294.44px;
}

.bordered {
  border-style: solid;  
}
#avg-value-container {
  margin-left: 8px;
  display: inline-block;
}
table td, table th {
  font-size: 20px;
  padding: 0 5px;
  text-align: left;
  border-bottom: 1px solid #CCC;
}
.info-table {
  width: 145px;
}
.right-column-table {
  text-align: right;
  width: var(--right-column-width)
}
.middle-container {
  width: var(--middle-container-width);
}
.big-btn {
  width: var(--middle-container-width);
  height: 60px;
  font-size: 30px;
}
.right-table-btn {
  width: var(--right-column-width) - 20px;
  height: 50px;
  font-size: 20px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.right-side-wrapper {
  overflow: auto;
}
#fun-container {
  width: var(--fun-container-size);
  height: var(--fun-container-size);
}
/* #parameters-wrapper {
  float: right
} */
#info-container {
  display:inline-block;
  margin: 8px;
  font-size: 20px;
}
#controls-container {
  margin-left: 8px; 
}
.color-box {
  display: inline;
}
#DelayDisplay {
  font-size: 20px;
}
input[type=number]{
  width: 80px;
  height: 30px;
  font-size: 20px;
}
.yaxis-bubble {
  font-size: 20px;
  stroke-width: 2px;
}
.xaxis-bubble {
  font-size: 20px;
  stroke-width: 2px;
}

.bubbles {
    stroke-width: 1px;
    stroke: black;
    opacity: .8
  }
  .bubbles:hover {
    stroke: black;
  }