.bordered {
  border-style: solid;
  
}
.wrapper {
  overflow: hidden;
}
.right-side-wrapper {
  overflow: auto;
}
#fun-container {
  float:left;
  
  /* display: inline-block; */
}
#info-container {
  /* display:inline-block; */
  margin-left: 8px;
  font-size: 20px;
  float: left;
}
#controls-container {
  /* display:inline-block; */
  margin-left: 8px;

}
.color-box {
  display: inline;
}

.bubbles {
    stroke-width: 1px;
    stroke: black;
    opacity: .8
  }
  .bubbles:hover {
    stroke: black;
  }